<h1>Admin Dashboard</h1>
<h2></h2>
<%= link_to "Manage User", users_path, id: "manage_users"  %><br>
<%= link_to "Manage Categories", categories_path, id: "manage_categories"  %> <br>
<%= link_to "Manage Post", posts_path, id: "manage_posts"  %> <br>