<li>
  <span class="content"><%= res.email_visitor %></span>
  <span class="content"><%= res.content_visitor %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(rest.created_at) %> ago.
  </span>

</li>

